$font_normal_size:14px;
$font_big_size:16px;
$font_small_size:12px;
$input_holder: #AAAAAA;
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: $input_holder   ;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: $input_holder;
    opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: $input_holder;
    opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: $input_holder;
}
::-ms-input-placeholder { /* Microsoft Edge */
    color: $input_holder;
} 
.btn:hover{
    cursor:pointer;
}
.btn{ 
    border:none;
    border-radius:2px;
}
.clearfix:after  
{  
    content: ".";  
    clear: both;  
    height: 0;  
    visibility: hidden;  
    display: block;  
}
a:hover{
    cursor:pointer;
}
.f--left{
    float:left;
}
.f--right{
    float:right;
}
body{
    text-align:center;
    padding-bottom: 160px;
    background-image: url("../../imgs/main-bg.png");
}
.l-w{
    word-spacing: -10px;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.l-wrap{
  position: relative;
}
.l-wrap img{
    position: absolute;
    top:0;
    bottom: 0;
    margin: auto;
}
