$input_holder: #AAAAAA;
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: $input_holder   ;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: $input_holder;
    opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: $input_holder;
    opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: $input_holder;
}
::-ms-input-placeholder { /* Microsoft Edge */
    color: $input_holder;
} 
.btn:hover{
    cursor:pointer;
}
