@import "./header.scss";
@import "./common.scss";
@import "./footer.scss";
@import "./form.scss";

body{
    background:#f3f3f3;
    text-align:center;
    .content-wrap{ 
        .form__checkbox--des{
            font-size:14px;
            color:#666666;
        }
        .form__forget{
            float:right;
            font-size:14px;
            color:#999999;
        }
    } 
}
