@import "./header.scss";
@import "./common.scss";
@import "./footer.scss";
@import "./res-menu.scss";
@import "./item.scss";
@import "./value.scss";

$normal_font_size: 14px;
$input_border: #39c2F0;
body {
  #menu{
    background: #000;
    padding-top: 50px;
  }
  .aside-guide-block{
    background: $white;
    aside{
      margin-top: 0;
      padding-top: 10px;
    }
  }
  .left-aside{
    .left-aside__advance{
      background: #fff;
      border-radius: 5px;
      padding-bottom: 20px;
      &>p:nth-of-type(3){
        text-align: center;
      }
      span{
        font-size: 14px;
        color: #666666;
      }
      .btn{
        background: #39C2F0;
        margin-top: 20px;
        color: #fff;
      }
      h3{
        background: #39C2F0;
        font-size: 16px;
        color: #fff;
        height: 40px;
        text-align: center;
        line-height: 40px;
      }
    }
    .file-content__content{
      margin-left: 20px;
      background: red;
      margin-top: 10px;
      min-height: 710px;
    }

  }
  aside {
    background: #fff;
    font-size: 14px;
    border-radius: 5px;
    text-align: center;
    margin-top: 10px;
    padding-top: 20px;
    ul{
      padding-left:0;
      li{
        padding: 0 15px 0 8px;
        height: 50px;
        line-height: 50px;
        padding: 0;
        &:hover{
          background:gray;
          cursor:pointer;
          color:#fff;
        }
      }
    }
    .aside__left {
      margin-bottom: 10px;
    }
    input {
      border: 1px solid $input_border;
      height: 28px;
      padding-left: 5px;
      margin-left: 20px;
    }
    section {
      button {
        background: #39C2F0;
        color: #fff;
        font-size: $normal_font_size;
        height: 28px;
        padding: 1px 0;

      }
    }
  }
}
