@import "./header.scss";
@import "./common.scss";
@import "./footer.scss";
@import "./item.scss";
@import "./item-l-r.scss";
@import "./tag.scss";

$normal_font_size: 14px;
$input_border: #39c2F0;
body {
  aside {
    width: 100%;
    background: #fff;
    text-align: center;
    ul {
      margin-top: 0;
      margin-bottom: 0;
      li {
        float: left;
        color: #333333;
        padding: 6px 22px 6px 0;
      }
    }
  }
  .content-block {
    height: 520px;
    background: $white;
    .content-block__left{
        h2{
          font-size: 33px;
          font-weight: 100;
          color: $font_normal_color;
          margin-top: 150px;
        }
  }
    margin-top: 22px;
    .search-header{
        color: #fff;
        background: $main_color;
        display: flex;
      height: 40px;
        width: 100%;
        &>span:nth-of-type(1){
          flex: 1;
          text-align: left;
          padding-left: 20px;
          font-size: $font_big_size;
          line-height: 40px;
        }
      button{
        border: 1px solid #75d4f5;
        margin: 6px 8px;
        background: $main_color;
        font-size: $font_small_size;
        width: 80px;
      }
    }
  }
}
