<DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>充值</title>
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <!--provide module and total min css-->
        <link rel="stylesheet" href="../static/css/base-min.css">
        <link rel="stylesheet" href="../static/css/pure-min.css">
        <link rel="stylesheet" href="../static/css/grids-min.css">
        <link rel="stylesheet" href="../static/css/grids-responsive-min.css">
        <link rel="stylesheet" href="../static/css/customer/not_login_purchase.css">
    </head>
    <body>
    <header class="header">
        <section class="pure-u-lg-7-8 pure-u-md-7-8 pure-u-xl-5-8">
            <div class="img-wrap">
                <img src="../static/imgs/logo.png"/>
            </div>
            <section class="header__right_block hide-on-mobile">
                <div class="pure-g">
                    <div class="pure-u-17-24">
                        <div class="search-block">
                            <input type="text" class="header__input_search" placeholder="搜索"/>
                            <button class="header__btn__search btn">搜索</button>
                        </div>
                    </div>
                    <div class="pure-u-7-24">
                        <div class="status">
                        <p class="header__status">首页</p>
                        <p class="header__status">升级会员</p>
                        <div class="header__status header__user">
                            <div class="notify">
                            <img src="./static/imgs/notify.png" alt="">
                            </div>
                            <div class="head">
                            <img src="./static/imgs/user.png" alt="">
                                </div>
                        </div>
                    </div>
                        </div>
                </div>
            </section>
        </section>
        <div id="head-menu" class="header__menu">
            <img src="./static/imgs/menu.png">
        </div>
    </header>

    <div class="content-block pure-u-xl-5-8 pure-u-md-7-8 pure-u-lg-7-8">

        <section class="package-block">
            <h3>升级会员</h3>
            <div class="pure-g">
                <ul>
                    <li class="pure-u-lg-1-5 pure-u-1 pure-u-md-1-3 pure-u-sm-1-2">
                        <section>
                            <p>$18.8</p>
                            <p>七天会员</p>
                            <p>0.90元/天</p>
                            <div class="des">
                                <p>1T超大空间</p>
                                <p>极速下载</p>
                                <p>FTP上传</p>
                                <p>无广告</p>
                            </div>
                            <button class="btn">立即升级</button>
                        </section>
                    </li>

                    <li class="pure-u-lg-1-5 pure-u-1 pure-u-md-1-3 pure-u-sm-1-2">
                        <section>
                            <p>$18.8</p>
                            <p>七天会员</p>
                            <p>0.90元/天</p>
                            <div class="des">
                                <p>1T超大空间</p>
                                <p>极速下载</p>
                                <p>FTP上传</p>
                                <p>无广告</p>
                            </div>
                            <button class="btn">立即升级</button>
                        </section>
                    </li>
                    <li class="pure-u-lg-1-5 pure-u-1 pure-u-md-1-3 pure-u-sm-1-2">
                        <section>
                            <p>$18.8</p>
                            <p>七天会员</p>
                            <p>0.90元/天</p>
                            <div class="des">
                                <p>1T超大空间</p>
                                <p>极速下载</p>
                                <p>FTP上传</p>
                                <p>无广告</p>
                            </div>
                            <button class="btn">立即升级</button>
                        </section>
                    </li>
                    <li class="pure-u-lg-1-5 pure-u-1 pure-u-md-1-3 pure-u-sm-1-2">
                        <section>
                            <p>$18.8</p>
                            <p>七天会员</p>
                            <p>0.90元/天</p>
                            <div class="des">
                                <p>1T超大空间</p>
                                <p>极速下载</p>
                                <p>FTP上传</p>
                                <p>无广告</p>
                            </div>
                            <button class="btn">立即升级</button>
                        </section>
                    </li>
                    <li class="pure-u-lg-1-5 pure-u-1 pure-u-md-1-3 pure-u-sm-1-2">
                        <section>
                            <p>$18.8</p>
                            <p>七天会员</p>
                            <p>0.90元/天</p>
                            <div class="des">
                                <p>1T超大空间</p>
                                <p>极速下载</p>
                                <p>FTP上传</p>
                                <p>无广告</p>
                            </div>
                            <button class="btn">立即升级</button>
                        </section>
                    </li>
                </ul>
            </div>
        </section>

        <!--bottom part-->
        <div class="vip-advance">
            <h3>会员特权</h3>
            <div class="pure-g">
                <ul>
                    <li class="pure-u-lg-1-5 pure-u-1 pure-u-md-1-3 pure-u-sm-1-2" >
                        <section>
                            <img src="./static/imgs/advance_big_store.png" alt="">
                            <p>更大储存空间</p>
                            <p>1T超大储存</p>
                        </section>
                    </li>
                    <li class="pure-u-lg-1-5 pure-u-1 pure-u-md-1-3 pure-u-sm-1-2" >
                        <section>
                            <img src="./static/imgs/advance_no_ads.png" alt="">
                            <p>无广告</p>
                            <p>下载零等待</p>
                        </section>
                    </li>
                    <li class="pure-u-lg-1-5 pure-u-1 pure-u-md-1-3 pure-u-sm-1-2" >
                        <section>
                            <img src="./static/imgs/advance_download.png" alt="">
                            <p>高速下载</p>
                            <p>下载无限制,并支持离线下载,和迅雷工具下载</p>
                        </section>
                    </li>
                    <li class="pure-u-lg-1-5 pure-u-1 pure-u-md-1-3 pure-u-sm-1-2" >
                        <section>
                            <img src="./static/imgs/advance_play_online.png" alt="">
                            <p>在线播放</p>
                            <p>高清视频文件</p>
                        </section>
                    </li>
                    <li class="pure-u-lg-1-5 pure-u-1 pure-u-md-1-3 pure-u-sm-1-2" >
                        <section>
                            <img src="./static/imgs/advance_safe_pay.png" alt="">
                            <p>支付宝和微信支付</p>
                            <p>安全可信任</p>
                        </section>
                    </li>
                    <li class="pure-u-lg-1-5 pure-u-1 pure-u-md-1-3 pure-u-sm-1-2" >
                        <section>
                            <img src="./static/imgs/advance_upload.png" alt="">
                            <p>高速上传</p>
                            <p>支持远程上传文件</p>
                        </section>
                    </li>
                    <li class="pure-u-lg-1-5 pure-u-1 pure-u-md-1-3 pure-u-sm-1-2" >
                        <section>
                            <img src="./static/imgs/advance_10g.png" alt="">
                            <p>单个超大文件</p>
                            <p>单个文件支持10.00GB</p>
                        </section>
                    </li>
                    <li class="pure-u-lg-1-5 pure-u-1 pure-u-md-1-3 pure-u-sm-1-2" >
                        <section>
                            <img src="./static/imgs/advance_resource.png" alt="">
                            <p>海量免费资源</p>
                            <p>资源每天更新</p>
                        </section>
                    </li>
                    <li class="pure-u-lg-1-5 pure-u-1 pure-u-md-1-3 pure-u-sm-1-2" >
                        <section>
                            <img src="./static/imgs/advance_forever_share.png" alt="">
                            <p>永久共享</p>
                            <p>共享链接永久有效</p>
                        </section>
                    </li>
                    <li class="pure-u-lg-1-5 pure-u-1 pure-u-md-1-3 pure-u-sm-1-2" >
                        <section>
                            <img src="./static/imgs/purchase_divide.png" alt="">
                            <p>充值分成</p>
                            <p>分享文件可获得会员充值n分成</p>
                        </section>
                    </li>
                </ul>
            </div>
        </div>
    </div>


    <section class="footer">
        <div class="pure-u-lg-3-4">
            <ul class="clearfix pure-u-sm-4-5 pure-u-4-5 pure-u-lg-1-3 pure-u-md-1-3">
                <li><a>关于我们</a></li>
                <li><a>联系我们</a></li>
                <li><a>常见问题</a></li>
                <li><a>高级会员</a></li>
                <li><a>用户协议</a></li>
                <li><a>友情链接</a></li>
            </ul>
        </div>
        <p>Copyright2017v2版权所有</p>
    </section>

    <div id="dialog">
        asdasdasdasd
    </div>
    <script src="//localhost:35729/livereload.js"></script>
    <script src="./static/js/ui.js"></script>
    <script src="./static/js/res-mobile.js"></script>
    <script src="./static/js/Util.js"></script>
    <script>
        util.initDialog();
    </script>
    </body>
    </html>
