<DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>index</title>
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <!--provide module and total min css-->
        <link rel="stylesheet" href="../static/css/base-min.css">
        <link rel="stylesheet" href="../static/css/pure-min.css">
        <link rel="stylesheet" href="../static/css/grids-min.css">
        <link rel="stylesheet" href="../static/css/grids-responsive-min.css">
        <link rel="stylesheet" href="../static/css/customer/login-page.css">
        <style>

        </style>
    </head>
    <body>

        <header class="header">
            <section class="header__head pure-u-lg-5-8">
                <div class="img-wrap">
                    <img src="../static/imgs/logo.png" />
                </div>
                <p class="header__register"><a>注册</a></p> 
                <p class="header__status">会员</p>
            </section>
        </header> 
        <div class="content-block pure-u-lg-5-8" >
            <div class="content-wrap pure-u-sm-4-5 pure-u-4-5 pure-u-lg-1-3 pure-u-md-2-3">
                <form action="" method="POST" class="form">
                    <input type="email"class="form__email form__input--common" placeholder="邮箱"/>
                    <input type="password" class="form__password form__input--common" placeholder="密码"/>
                    <input type="password" class="form__password form__input--common" placeholder="确认密码"/>
                    <p class="form__btn--main form__btn--common btn">开始试用</button>
            <p class="form__btn--helper form__btn--common btn">登陆</button>
                </form>
            </div> 
        </div>

        <section class="footer">
            <div class="pure-u-lg-3-4">               
                <ul class="clearfix pure-u-sm-4-5 pure-u-4-5 pure-u-lg-1-3 pure-u-md-1-3"> 
                    <li><a>关于我们</a></li>
                    <li><a>联系我们</a></li>
                    <li><a>常见问题</a></li>
                    <li><a>高级会员</a></li>
                    <li><a>用户协议</a></li>
                    <li><a>友情链接</a></li>
                </ul>
            </div> 
            <p>Copyright2017v2版权所有</p>
        </section>
        <script src="//localhost:35729/livereload.js"></script>
    </body>
</html>

