header {
  width: 100%;
  height: 80px;
  background: #fff;
  position: relative;
  border-bottom: 1px solid #ededed;
  padding: 0 !important; }
  header .header__menu {
    position: absolute;
    right: 20px;
    top: 0;
    margin: auto;
    bottom: 0;
    height: 28px;
    display: none;
    width: 28px; }
    header .header__menu img {
      width: 100%; }
  header p {
    margin: 0; }
  header .header__head {
    height: 100%; }
    header .header__head .header__status {
      float: right;
      margin-right: 30px;
      font-size: 16px;
      color: #333333; }
    header .header__head .header__register {
      float: right;
      font-size: 12px;
      background: #39c2F0;
      color: #fff;
      padding: 3px 7px;
      border-radius: 2px; }
  header .header__right_block {
    margin-top: 30px; }
    header .header__right_block button {
      background: #39c2F0;
      color: #fff;
      font-size: 14px; }
  header .img-wrap {
    width: 170px;
    height: 44px;
    padding-top: 18px;
    float: left; }
    header .img-wrap img {
      width: 100%;
      height: 100%; }

::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #AAAAAA; }

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #AAAAAA;
  opacity: 1; }

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #AAAAAA;
  opacity: 1; }

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #AAAAAA; }

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #AAAAAA; }

.btn:hover {
  cursor: pointer; }

.btn {
  border: none;
  border-radius: 2px; }

.clearfix:after {
  content: ".";
  clear: both;
  height: 0;
  visibility: hidden;
  display: block; }

a:hover {
  cursor: pointer; }

.f--left {
  float: left; }

.f--right {
  float: right; }

body {
  text-align: center;
  padding-bottom: 160px;
  background-image: url("../../imgs/main-bg.png"); }

.l-w {
  word-spacing: -10px; }

ul {
  list-style: none; }

.l-wrap {
  position: relative; }

.l-wrap img {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto; }

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 123px;
  background: #fff; }
  .footer ul {
    list-style: none; }
    .footer ul li {
      float: left;
      text-align: ceter; }
      .footer ul li a {
        font-size: 12px;
        padding: 0 10px;
        color: #999999;
        border-right: 1px solid #999999; }
      .footer ul li:last-child > a:last-child {
        border: none; }
  .footer ul:after {
    clear: both;
    overflow: hidden; }
  .footer p {
    margin-top: 0;
    color: #999999;
    font-size: 12px; }

body {
  color: #777; }

.pure-img-responsive {
  max-width: 100%;
  height: auto; }

/*
Add transition to containers so they can push in and out.
 */
#layout,
#menu,
.menu-link {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out; }

/*
    This is the parent `<div>` that contains the menu and the content area.
     */
#layout {
  position: relative;
  left: 0;
  padding-left: 0; }

#layout.active #menu {
  left: 150px;
  width: 150px; }

#layout.active .menu-link {
  left: 150px; }

/*
    The content `<div>` is where all your content goes.
     */
.content {
  margin: 0 auto;
  padding: 0 2em;
  max-width: 800px;
  margin-bottom: 50px;
  line-height: 1.6em; }

.header {
  margin: 0;
  color: #333;
  text-align: center;
  padding: 2.5em 2em 0;
  border-bottom: 1px solid #eee; }

.header h1 {
  margin: 0.2em 0;
  font-size: 3em;
  font-weight: 300; }

.header h2 {
  font-weight: 300;
  color: #ccc;
  padding: 0;
  margin-top: 0; }

.content-subhead {
  margin: 50px 0 20px 0;
  font-weight: 300;
  color: #888; }

/*
    The `#menu` `<div>` is the parent `<div>` that contains the `.pure-menu` that
    appears on the left side of the page.
     */
#menu {
  margin-left: -150px;
  /* "#menu" width */
  width: 150px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1000;
  /* so the menu or its navicon stays above all content */
  background: #191818;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch; }

/*
    All anchors inside the menu should be styled like this.
     */
#menu a {
  color: #999;
  border: none;
  padding: 0.6em 0 0.6em 0.6em; }

/*
    Remove all background/borders, since we are applying them to #menu.
     */
#menu .pure-menu,
#menu .pure-menu ul {
  border: none;
  background: transparent; }

/*
        Add that light border to separate items into groups.
         */
#menu .pure-menu ul,
#menu .pure-menu .menu-item-divided {
  border-top: 1px solid #333; }

/*
    Change color of the anchor links on hover/focus.
     */
#menu .pure-menu li a:hover,
#menu .pure-menu li a:focus {
  background: #333; }

/*
    This styles the selected menu item `<li>`.
     */
#menu .pure-menu-selected,
#menu .pure-menu-heading {
  background: #1f8dd6; }

/*
    This styles a link within a selected menu item `<li>`.
     */
#menu .pure-menu-selected a {
  color: #fff; }

/*
    This styles the menu heading.
     */
#menu .pure-menu-heading {
  font-size: 110%;
  color: #fff;
  margin: 0; }

/* -- Dynamic Button For Responsive Menu -------------------------------------*/
/*
    The button to open/close the Menu is custom-made and not part of Pure. Here's
    how it works:
     */
/*
    `.menu-link` represents the responsive menu toggle that shows/hides on
    small screens.
     */
.menu-link {
  position: fixed;
  display: block;
  /* show this only on small screens */
  top: 0;
  left: 0;
  /* "#menu width" */
  background: #000;
  background: rgba(0, 0, 0, 0.7);
  font-size: 10px;
  /* change this value to increase/decrease button size */
  z-index: 10;
  width: 2em;
  height: auto;
  padding: 2.1em 1.6em; }

.menu-link:hover,
.menu-link:focus {
  background: #000; }

.menu-link span {
  position: relative;
  display: block; }

.menu-link span,
.menu-link span:before,
.menu-link span:after {
  background-color: #fff;
  width: 100%;
  height: 0.2em; }

.menu-link span:before,
.menu-link span:after {
  position: absolute;
  margin-top: -0.6em;
  content: " "; }

.menu-link span:after {
  margin-top: 0.6em; }

/* -- Responsive Styles (Media Queries) ------------------------------------- */
/*
    Hides the menu at `48em`, but modify this based on your app's needs.
     */
@media (min-width: 48em) {
  .header,
  .content {
    padding-left: 2em;
    padding-right: 2em; }
  #layout {
    padding-left: 150px;
    /* left col width "#menu" */
    left: 0; }
  #menu {
    left: 150px; }
  .menu-link {
    position: fixed;
    left: 150px;
    display: none; }
  #layout.active .menu-link {
    left: 150px; } }

@media (max-width: 48em) {
  /* Only apply this when the window is small. Otherwise, the following
        case results in extra padding on the left:
         * Make the window small.
         * Tap the menu to trigger the active state.
         * Make the window large again.
         */
  #layout.active {
    position: relative;
    left: 150px; } }

.res__img--block {
  position: relative; }

.res__img--block img {
  position: absolute;
  top: 0;
  left: 15%;
  bottom: 0;
  margin: auto; }

body #menu {
  background: #000;
  padding-top: 50px; }

body .left-aside aside {
  text-align: center;
  background: #fff;
  font-size: 14px;
  border-radius: 5px; }
  body .left-aside aside ul {
    padding-left: 0; }
    body .left-aside aside ul li {
      padding: 8px 15px 5px 8px; }
      body .left-aside aside ul li:hover {
        background: gray;
        cursor: pointer;
        color: #fff; }

body .left-aside .left-aside__advance {
  background: #fff;
  border-radius: 5px;
  padding-bottom: 20px; }
  body .left-aside .left-aside__advance > p:nth-of-type(3) {
    text-align: center; }
  body .left-aside .left-aside__advance span {
    font-size: 14px;
    color: #666666; }
  body .left-aside .left-aside__advance .btn {
    background: #39C2F0;
    margin-top: 20px;
    color: #fff; }
  body .left-aside .left-aside__advance h3 {
    background: #39C2F0;
    font-size: 16px;
    color: #fff;
    height: 40px;
    text-align: center;
    line-height: 40px; }

body aside {
  text-align: left;
  margin-top: 10px; }
  body aside .aside__left {
    margin-bottom: 10px; }
  body aside .aside__right button {
    margin-right: 5px; }
  body aside input {
    border: 1px solid #39c2F0;
    height: 28px;
    padding-left: 5px;
    margin-left: 20px; }
  body aside section button {
    background: #39C2F0;
    color: #fff;
    font-size: 14px;
    height: 28px;
    padding: 1px 0; }

/*# sourceMappingURL=../maps/customer/main.css.map */
